@import "~bootstrap/scss/mixins/_breakpoints";
@import "../variables";

.noPoo {
  cursor: default !important;
}
.onePoo {
  background: #ffca00;
}
.twoPoo {
  background: #fa8a00;
}
.threePoo {
  background: #f04c00;
}
.fourPoo {
  background: #ff0000;
}

.react-calendar__month-view__weekdays__weekday {
  abbr {
    cursor: default !important;
    text-decoration: none !important;
  }
}

.react-calendar__month-view__days__day {
  &:hover {
    opacity: 0.8;
  }
}

.monthHeader {
  text-align: center;
  font-size: 0.8em;

  @include media-breakpoint-up(xs) {
    font-size: 0.8em;
  }
  @include media-breakpoint-up(sm) {
    font-size: 0.9em;
  }
  @include media-breakpoint-up(md) {
    font-size: 1em;
  }
}

.calendarsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.calendarWithMonth {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-bottom: 5px;

  @include media-breakpoint-up(xs) {
    width: 50%;
  }
  @include media-breakpoint-up(sm) {
    width: 33%;
  }
  @include media-breakpoint-up(md) {
    width: 25%;
  }
}

.react-calendar {
  width: 100%;
  font-size: 8px;

  @include media-breakpoint-up(xs) {
    font-size: 8px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 9px;
  }
  @include media-breakpoint-up(md) {
    font-size: 10px;
  }
}

.calendarColourKey {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  div {
    display: flex;
    margin-right: 10px;
    align-items: center;

    svg {
      width: 10px;
      height: 10px;

      @include media-breakpoint-up(xs) {
        width: 20px;
        height: 20px;
      }
    }

    p {
      font-size: 0.6em;
      font-weight: bold;
      margin-bottom: 0;

      @include media-breakpoint-up(xs) {
        font-size: 0.7em;
      }
      @include media-breakpoint-up(sm) {
        font-size: 1em;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.2em;
      }
    }
  }
}
